hr {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 20px;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  background-color: #eee;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 2rem;
  color: #333;
  text-align: center;
}

.form-container {
  margin-inline: auto;
}

.txt-input {
  padding: 10px 20px;
  border-radius: 10px;
}

.txt-input:focus {
  outline-color: #2a9d8f;
}

.data-container {
  margin: 5px 20px;
}

.label {
  font-weight: 600;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-block: 30px;
}

.primary-button,
.secondary-button {
  margin: 10px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.primary-button {
  background-color: cadetblue;
  color: #f2f3f4;
}

.primary-button:hover {
  background-color: #2a9d8f;
  box-shadow: 2px 2px 5px #2a9d8f;
}

.secondary-button {
  background-color: #f2f3f4;
  color: #2a9d8f;
  border: 2px solid #2a9d8f;
}

.secondary-button:hover {
  background-color: #2a9d8f;
  border-color: black;
  color: #f2f3f4;
  box-shadow: 2px 2px 5px #2a9d8f;
}
